body {
    background-image: url("micro2.jpg");
    background-size: 180%;
    background-repeat: no-repeat;
    font-family: Georgia;
    font-size: 23px;
    color: #f44336;
  }

  /* div {
    margin-top: -200px;
  } */

 .row:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
  float: left;
  width: 50%;
} 


  figcaption{
      font-size: small;
      color: #f44336
  }
  
  h1 {
    color: #f44336;
    text-align: center;
    font-size: 45px;
  }

table {
    table-layout: auto;
    align-self: center;
   
  }
  
  tr {
    font-weight: bold;
    text-align: left;
    
  }

  .button {
    background-color: #f44336;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-right: -300px;
    margin-top: 100px; */
    cursor: pointer;

  }

  fieldset {
    background-color: gainsboro;
    color: white;
  }

  
  img { 
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
} 


.desc{
  background-color: #ba9d9b
}