<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
<body>
    <fieldset>
<h1>Tracking Ancient Global Epidemics</h1>
    </fieldset>

    <div class="row">
        <div class="column">
            <div class="row">
                <div class="column">
                    <figure align="right">
                        <img src="static/bio1.png">
                        <figcaption>Fig.1 - Original mask worn by doctors visiting <br> the quarantine in Venice to
                            protect themselves (since 1423).</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure align="left">
                        <img src="static/bio8.jpg" width="200" height="40">
                        <figcaption>Fig.2 - Drawing of doctor wearing the mask from
                            manuscript.</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <figure align="center">
                    <img src="static/bio0.jpg">
                    <figcaption>Fig.3 - Corona virus spreading in Italy</figcaption>
                </figure>
            </div>
            
        </div>


    <form action="search" method="POST">
        <div class="column">
            <br><br><br>
            <table align="center"> 

                <tr>
                    <td> <label for="sequence">Sequence</label></td>
                  <td><textarea id="squence" name="squence" value="" rows=10 cols=50></textarea></td>
                </tr>
           
                <tr>
                  <td><label for="searchtype">Pick a search type</label></td>
                  <td><select id="searchtype">
                    <option value="protein">Protein Sequence</option>
                    <option value="DNA">DNA Squence</option>
                    <option value="RNA">RNA Squence</option></select></td>
                </tr>

                <tr>
                    <td><label for="datasample">Data Sample</label></td>
                     <td><select id="datasample">
                            <option value="denmark">Denmark (1100 - 1450AD)</option>
                            <option value="UK">UK (1770 - 1855AD)</option>
                            <option value="all">All</option></select></td>
                </tr>
            </table>

            <p align="center"><button class="button">Search</button></p>
        </div>
    </form>


    <!-- <div align="left"> -->
        <!-- <div>
              <img src="bio1.png">
        </div>
        <div>
              <img src="bio2.jpg">
        </div>
        <div>
                <img src="bio3.jpg">
        </div>
        <div>
            <img src="bio4.jpg">
        </div>
        <div>
            <img src="bio5.jpg">
        </div>
        <div>
            <img src="bio6.jpg">
        </div>
        <div>
            <img src="bio7.jpg">
        </div>
        <div>
            <img src="bio8.jpg">
        </div>
        <div>
            <img src="bio9.jpg">
        </div>
    </div> -->

</body>
</html>