<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
<body>
    <fieldset>
<h1>Tracking Ancient Global Epidemics</h1>
    </fieldset>

    <div class="row">
        <div class="column">
        
                <figure align="right">
                    <img src="static/div.png">    
                </figure>

        </div>


    <form action="search" method="POST">
        <div class="column">

            
            <br>
            <table align="center"> 
                <tr>
                    
                        <fieldset class="desc">
                        <font color="#f44336"><h2>Our Mission</h2></font>
                        <ul>
                            <font color="black"><li>Track ancient microbiomes</li></font>
                            <font color="black"><li>Uncover historical pathogens</li></font>
                            <font color="black"><li>Search for human immune responses</li></font>
                        </ul>
                        </fieldset>
                    <br>
                </tr>
                <tr></tr>
                <tr>
                    <td> <label for="sequence">Sequence</label></td>
                  <td><textarea id="squence" name="squence"rows=10 cols=50>MSGCNLIWLDKATKKRSKDILCLEDIPYKDEIKYLNELKVLPYVSCIHCVNIRKKKVENA
GFMFYIKYEVPLLLNEGDNIKKSKENKRVEDIEEIFLYKDKIDYMLNLEKSINKNNIYDK
NISNDKENKRKKANEKDEEMNKDDYDNKENNNNGADNIKGQFKKGSNLIKKCIDQNIDVY
DVLGVEETDDLETIKSCYKKLILLFHPDKNKGTAYLNEKEKEKEKKKGKNKKKKNYMNDA
NNNNNNNNNNEKDFLYFIEKYNIEKLTNDEKKNIFLKIQDSYTILSDKILRKQYDSSIPF
DERIPTLTQLEEAKNFYNFLRPVFKRNAKWSAIKPVPDIGDENTDIKEVKYFYDFWYNFN
NWRDFSYQNEYDYEQAECREERRWMERENKKIQKKASKTENLRIIKLVDLAYNNDPRIIA
ENKRIKLEKLKKKEQAMIEKKNQQNENNNNNIQHNNNNNNIPSHKKNIDKASVKLWKHHI
KSLCLTKLSNLVNTEDIQQKISIMSFDDLCEFIYDIYVILNFTVPKNNTDTTSTLLTNIK
NNTIHKKVYNPNINDPKKAFQSIGSTSTTNNNHVNNNNNNNISTDGKTSTGFIGHLKNVH
LDYKQIQTLIDTFKKYIQDHSFILQNNDHQLNDQHNYQTDIQTGTYTQCNEQFNKNEKEN
ENEIEKQQTHANNYSNVNTQDIRQNKFSNNILHSNNEKIYEHVKKENEEINIYSNDSTQI
NINESNEHVYEHVGKLNEDTLKYSNDSTQSNVNIYNEQNNQENELQSNKWSAQEVSLLAK
ALKLYPGGTRNRWVLISNSIKTKTVKEVIKKTKEMFENDTLKNLGRNFDETPFDHFKNQN
KGVMKKIDDNLDKREYKLTKENNNQVETDNLNGDVEKKKPWTHEEQHLLEQALIKYPTSI
PIKERLKLVSHELKTRTVDEVILRMKTLRAQIMAQKSSK
MREVISIHVGQAGIQIGNACWELFCLEHGIQPDGQMPSDQVVAGGDDAFNTFFSETGAGK
HVPRCVFVDLEPTVVDEVRTGTYRQLFHPEQLISGKEDAANNFARGHYTIGKEIVDVCLD
RVRKLADNCTGLQGFLMFNAVGGGTGSGLGCLLLERLAIDYGKKSKLNFCSWPSPQVSTA
VVEPYNSVLSTHSLLEHTDVAIMLDNEAIYDICKKNLDIERPTYTNLNRLIAQVISSLTA
SLRFDGALNVDVTEFQTNLVPYPRIHFMLSSYAPIISAEKAYHEQLSVSEITNSAFEPAS
MMAKCDPRHGKYMACCLMYRGDVVPKDVNAAVATIKTKRSIQFVDWCPTGFKCGINYQPP
TVVPGGDLAKVMRAVCMISNSTAIAEVFSRMDQKFDLMYAKRAFVHWYVGEGMEEGEFSE
AREDLAALEKDYEEVGIESNDGEGEDEGYE
MNINKVENRNVFECIEMEEIKKITRYEENSDDHIIFDDLSEYSPSIISNNDNIHVEKKIV
DEKLLQSMINSDNLLKHNQLNWYDNLDAEEYKDNSIFMETKSKFTNIMLGVSSVSMNPNN
IRDNNVFLTNKDVNTFEINNINLPQQNGLIHMNTINVSNDNYEQNKTEEICDTTKSDNSF
LDIDQEHEKIKIGEQQEIEVIKVNESRENHSSKESTKCQDGEAANVEENEENEKNEKKEK
NEKNENIEQNKNVEQNKNIEQNKNIEQNKNVEQIKNVEQNKNIEQNKNIEQNKNIEQNKN
IEQNKNIEQNKNIEQNTNIEQNTNVEHNNIECYTNLPLNQIEEKKNVDDDNLNITTEINK
TQPFSVACNKKDESSFKSMSSKSNMIKKKNHEKDSVENEDYNTKKEDIVVKDTFNLLNKL
KTNQKNREYSNSSLSSLSDAVTNNKTLKHFSSSNYNKIKSKLSKPFMNNKYSDHSCNDKK
GKEKNEYNNNNNNDDDDDEHDICDNNKNVYDNSQNILTQEQNYMKNIISKIEESVQKKKK
KKKTNNNNNNNNNNDDDNNENNSSEDQYSSEFTLKDNNNYYDDHMNMILTSNECNEPNKI
NYNNLNDSDNVRPIEGDIMNNPMSLSTHINNNDKKKLRRSSMSGSLKTYNSYNFKNMTSI
NNRDNNLNSFLKKKMYSTGSMYDIKVPIKKYFQGLKKINNLLSKGNNNDIVDDENMNDFV
DDENMNDFVDDENMNDFVNDENMNDFVNDDEEEVGASHFIVNNNNDDQDKYNLVNKINME
NLNKMNKENIPKDEDNMMYLKQSDSKNSFDNYWDVDDINKKGPFPSSKLSVFLNENGNNE
QVHNMQLELNNIQHYDNKGDVKQRNNYVMEENYLVENFINKKSNDLKSVPYDDNLTNLNT
NENNVYNNVKDEIEVSINKNTNKNIINLYENNFKSISQCPLEEKRINHVFKKFLNNEDLD
IHINRNMDNEEESRRINEIKEIIMKYANNRGYGKDGDLTSEHVIKKNDNKNGDNKSDDDN
KNGDDNKNGDDNKNGDDNKNGDDNKNGDDNKSGDDNKSDDDNKNGDDNKNGDDNKSDDDN
KSDDGNFFVENITPEERNKIDEFLKKHNYLYKIEIPTNLYRDEGKLKVNPTGDINVQKGG
DSINSPGNNRNRNDTNNSGNNNNINDGSNNSNRNNSNRNNSRGNNNNNNNDDDDDDDDNN
NNNNRNNNNFSSSNNTNELVSKVKRRIIDCRNNRLNWGSTQVIIDIDDTIRSSGGYKFFN
YNLGGVDAQYQRGETYPGSFQFIFELAMNKLAAEAKPLLLSVLTARIPQVPITEDSYLNK
KFNEVAERRGIKHWGIDCENKILYSTLKEWVWNETRGEKKFFNFKQLHKYVIQQNSLVRY
IWIGDTGDMDRQAGELMIKTFPQRIKAVFLHHVKGKDDNTLLPSDYFIKSVPIFFFRTYI
GAATKAHAYNLIDKKGLTRVLVQAVLDLEKSKVPADSSKWEDLIKDIILSDALDELDKYN
AETVNRTKRIIAQKMKEISERKLHFIS
MDVNNSFVNMKDVMNIPVQVEGKDGDKKHNNMNDNLLNFDCSYENILNNDIERPQEIDCG
MSCTSSFVDSNEKMVNDNYIDNNYEDLNSAQGESKDINHMKFEKKDIINVPETYCKNNYD
YMYNNALNLSFKKNNDQIYMNKFGNINENNKEDNSNNNFVLDDNNLMLNEGNIIIKNMYP
VDMNNHNVGSEIHDNNEHSCILRNNGKVQNEFRHEGNLSNDRSVYGELIDMDNMDNMNNV
NNVNNMDSVNNMDNMDNMNNVNNINSVNDSKCIHALNAPGRKNIKTKDAQDYFFNNENIH
CVSKSTTYILNIGENGSTCINDIISNSNNSTSTGSKKNKRKEEKEEKEEKEEEEEKEKEI
EVEKKREKMNMLGNIIPENDSTNKENHYYDLENNEIYKAMENDIINYKHIIFRLKCEVQI
KNSYLENEKRKNEEYEKVIENYISDLNKNNKNNKNNNNNNSSSCSNVYIQNNLPGAEPLN
IIEVENRQLKDTLLLKSSEIIELNNVINNLKNQKMIFFNQLENELDMSIKKETEYSFLLQ
SQTKRLDAANAYIEKQAIKIVQLKKDMENLENTYNMNLKNNEEQIKELLKEKEEFIEITK
ELEIINIDNVKKKEEIEKYKEKCSSLTDELNELLRIISINQHDKIDTFKYHNFYESENMI
MSYNNMNESLQGYYYFEKGNNLKKECYNDKDKNNENVLTIQLKRLIDENEILQKQYEELN
NEKIQMVQELQLKNVIIDKKNENYTSLLDKYNILEKDFEHIHNLCIHFEEKFKQECIHNN
VNDVNNVNNVNNVNNVNNVNNVNDVNNANHVNNVNDVNNVNNANHVNNANHVNNANHVNN
VNNVNSVNNVNNVNNLSFDKMNSFLNKSNFSLSELDINHSQQSEHNINHYKIYCSELKLE
NESLKKIVHKLKIKNNKLSKNMEYLLNDLIQTEGINEENVQIHKNTINNEHIPYMENTHT
TNVYYNNHKDDNFMEETEKKYSYQETVDILERHIKNKEIVTTDNIKLDIIKNNDIKGNHI
NDDIIKGNNINDANIKKGFNCQTGNIILPDKKDFNCQTGNIILPDKKDFNCQTDNIILPD
KKDFNCQTGNIISPDKKDFNCQTDNIILPDKKDFNCQTYNIISPDKKDFNCQTTNIISPD
KKDFNCQTDNILTNTNKYLNKEINTDEKIVYDQKVDTKDEISFMNSSVNTEEINRTEKSV
NTHIENINMEQKNITHDFIQTDEINCYIKCTQTNDVQRNDKGVVTNMCGVHDFNIKKMMI
KNNMLKNKKIQVTPTNMNAYTQTMNTFYNNNNNNNKKKYIYIYNTNDEYHTDMKYSNKGN
RNYSYISSYSSNSYNHIYKKYESSSDAYIIRKGDGKKKKKKNHINNEKAIIKYSERDNMM
MSQSNKKKITQIHNEKKRKEKNIYMYNKKNVHSQGGNNSNRDVESLIEILKYSSDSMDYT
NKEYDDAKMCDDNFYDDTKLCDHNFYGDTKLCDDNFYDDTNLCDHNFYGDTKFCDDNFYD
DTKLCDDNFYNKYYSRSNIPFRKKKERLLHTHTIKMKNKYVQTSHSFLDDDFFFYNPKDI
QDNINHDNDLRILKKKIREYSKDLYHTLILCENCKGFYVDMFLINIFNEYINYYNIIMNN
NNNNNINRDTINNMDYYLNFDSFVSNPFTNNIYKNKNIGNNLIIEKKITTTRTNTLDPVY
CVYNNMNENSQHSKNNNIENYAVHKKHACDKNHICSTHQNNVKEKLSSCYYDKENKTNNN
NKKKKIFKMEKYIIKNIPFNIHICTCSYVNLKYKKILIKKDESNKKKKNKLKVKNYMDTN
VYKDENNNNNNNNNNVEKTNPYAINNSVCSQIFNFIHNMRKEIRQIKYIIHTILFFKNND
PMKHMLLNNNNLNDISMCLFNYIQNENEINNVNNYVNEINECDDKYKYTQNVYNKKVCVH
YISPINVKSSNDDNINSFYNNEKSECNYNVCFDEGKRKNDNNIRDDKINGYSNNNDNNNE
HNNNNDNNNEHNDHNNEHNNEHNNEHNNEHKNYKESTDKLNFIHFYNDSNQKKENYFHNY
THEQNDHESSSSQFFGIPKNQTSIYFYKKEKKMINFKEFMKNYEVKNIMIFFICCIFYLN
ELYIKYNNSLVTNIKPIDDNTKRDIHQGEERTEIYYCKSDKINMNQVDNSNNTNCKDEEQ
SNNTNCQDAEQSNITNCKDAEQSNITNCQDAEQSNITNCKDAEQSNITNCQDAEQSNITN
CKDAEQSNNTNSSHMNHLNHEVVIPNDKLYMNTYTNNINPFDVSIFKEAEIMIEEYRTCL
HENKRMNILHDILCNIILCIKNNYDNIHNVFLLFNDDITKSDILNIKYIYKLIDNYSKID
SYIKHINNSCNEKIRNTENNFKEIISNKEDLINIYKENIKNKIQLIEEKDLIIKDLKLEI
HILLKDKEITNNLLNELTEEKNTYFNMYMKYHHEWILNKKEIIMKDDKDEYTYTTNDEHN
NHKKINNCINQINKLNDEIILLKNKNKTLLHKRDTNKNTSSSVCSHMSSPSPSRISSNSI
FHFKQTDNQNVENADPNIIIDNNNSNTKEKKKNSLTNLILKDKNDKLKNFHIKENITSTI
HMKKIYKILFLLKEKIILFIFYIYKKIYKNAYINISYIKQFYTQIINIFINIPRYICSSY
IFVKENEINYNMYIKNNKNNKIYLHTNHSHILQLTDDNTSLNKQKINEKKKKNQNIKIKK
YSHNKRNLYNHNFLENTSIQSSTSPQKKKKNNNLQRAIGKLSDEDSSSNVSLFFDF
MNAYNTDGRYLLIIYEKVFKVIYIKNLKDKKDENVKVPALFIYRKNGKCLEKRILKEKIR
KKSKKYGNILNELIIDNLIGTIEFRNELFLFVVEKWRLLSKFYYMDKYRSIYKIEKVHYI
PYNVDIIPINAAINNSLNIDDNSNNYFINNVKNNEDINKNFEIIDNSINFEYNNNNNNNN
FGIITASSLKTIDVVNKSDDISYDFFNTNNKNISSCQGNNSNKNVTMKKSGNLENDKKDN
ILNDFEVVDNINSYNSYKNNNYNKKEEKNKKILTFNSAKKWLTTQFNHKNILNIISDITN
YDSKNVNENDRNLGKVQNELEKDNNSFLKNDKASTSSYNTSACNNTNKISTLFSSHTNIS
TIDENMSINKSDKDSYSPNNNNNNINNINNNNNNNNNNNNNNNNSSSSSKCKSNNKNLNI
HKSMSSHTNMSIHKNMNVNTNKMTHNHSNNNNDNMKQSSGEKNTTTTKHTSRNNYNNDTL
NKMNFNSVENSLSSIYDEDNLSESKPDTPNYSSKVRTSLIDNTFFNKEGNGKKEELTVLI
NNKNIVDSENNILIGIKKDEKKNNQSNSMFDQDNENDKNILLDKKNINNNNNNNNNNNNL
LYINKNDVHDKNYQKLNIHENDVNKRNSRDSKLSEALSEDKKGSNASNKSSINVVNNNIK
DLINHSYFNVKGNPRMQENSEKKNSYSSLFKNEDVRNDEKKNNSKMDIHKYLKTIQKLLS
VHMYYSYDYDLTQCIQKKVKNNIEEVEVEPLVYNTRLNNLNNKKKKSFLKMCEKKYVWNY
QMIKKTKNKCKIDDNWFCSIIQGYISYTSIEINKKCLELLLISRRSSILGGTRFNKRGIN
DDGYVANYVESEQIVRINNRNINHVDKVDQLNNKDNTSMSDINYDSYKNKNFTSTKGNLD
KNNSNRNNTYNNSNVSNEILASPNLTHDQVNHLKENSVREKDKNNNSFGSSQVVGGNIST
ETKEQFVNKDKINQGVFGTYKMNDSYDNNNNNNNNNNNNTNTNTNNNNNNNNNNNNNNNS
SSSTNKYVGRNFENRIISLVQIRGSIPLFWKQHSMSSHVNIQRSSLLSIKAFKEHNKKLI
NSYGNNIYYINLLSQNKSNEKKLTKKMIEMINFIKKDKHYKEKDYINYIEYDFHISVKNK
SFEDAMNDFINKILLKEIKNVSFFIEPIKVSTSNNENINNNSTTTTTNNNNNNNNKNKNN
INDKDYDDDDDDNDDNVDKDKDVNNININNTNNDNIKNKDYGYDNGDGENKKESSGAFQN
GVFRTNCLDCLDRTNVFQYYYALFFILYILHLSRNDMFLKAVNKSYLCYYKNVNNMYNDK
NVTILTTLPTENYLLDLSDKYAMNRNYDYVNNKNENMGMFDGFSYIINDGRFMNNKKTSD
TADELKRLGLDQKKEKYGNSNDKDYNKEDKKKVEQIDEYVYILKHLFKKMWVENGDIIST
HYTGTGSVFSSQINVGRSSLSTNIDHAIKSIERFYQNNFEDNFRQECIDIILCSGKYNNN
RRSFLGSDFTYLLNCNNTSTVNKDSTNSMNKYDVNNNNNNNNNNNNNNNNNSNNNKILDP
STNSLQQNKLNLKNKKLLKENQEKGNKQESKVLSKRKRALLKLKKISAAYNINTHHNWKN
FIHNTNSVKDHIDNSGNKNKNVDGNKELGKKEYEHKTKRILQEMDSSDESDLEIEENNEK
FYFKENAKMDMYDEGMIENIDYNNMNYPVLAKPNEYYEVEANGVDEDDEDYDDEDEDDEE
EEEEEDAYNYDSKKHLNIPYNDVEGKILKSDVNYLNNKNMNDLWSRTNNSSSINNTIEID
SSTSDSIEKKRRNRRREKMRRRRRRQMKKLKNRSDSMYLDDMHKDNKYVYDVNNEPIYND
YLSHDLINQYCVDCSNSKFVNNYAKKKIINTDYEERIIKLWAGTWNLCGGDLEELHDISS
WLNEVDDYIDMYVFCFQEVVELTGFRILMNMKDKFKEKKIEQMITQTLGEVSQRQKELYL
RGAKYNNNSNNMKIKKKSAHVVSETPYRNENRKNLYAANEEKEQDVIMNNDDVDDEYYEN
YLKCFNDDYMKNGNNRNNVYNDNNKKSNNYKYDDMNILAQGEEPRITEDNNSLLDISKNC
FLNNYFNSLEGDGLNLDIMGERKMSFSNLMDMDKREYIDDTNKYKEHDEYNNINKEMEYN
NDFNLMDALEDYDNIENKANKHNYINEDLLKSNETHISSNVKDIFQNKVPNSLNMNLDDI
FNDEFISNPKEDDYYINSNKGNIRGSYVIEELYNRKYNDMNNYNMNDEFEDNVFDRDKDM
EMKMARSMDMYDRRGSYLNEIENKSRNINDNININNDNFEINEADVFDNSSNNFRVKNYN
FTSVQDVFEDCDIKELGSSNNNLMYERRYDPPKRKGRNFNENVKREIHKIDDYYENVQRE
KRKDNKGFAAAGTSNYNNKDYDKYFLNLRKFKYVKLKSVSMIGLFIIIFIDEALVDHIRE
IEVCKVKVGLKGNTGNKGSVSVKFRLGYNSFCFNNIHLASGQTNIFERNTQMQNILSNSF
QNQQLNNLFNFDYFFACGDFNFRINKNLEEVLKLISSKNIKHLLNYDQFIYNKMYNILPF
CLFHEHPITFNPTYKYKKHSNMYDIRRTPAWCDRVLMSGKLVHLSEIEKKRNEHISREHY
RERNISIDQTNKSDMVDYKRNNMSDKDILNDFYNNDKIYFKYLDYKTHNNFFSSDHKPVS
ALIELKVFFDKKDIEYKLLQSYSMKTVDEYGYLGKGSSNTSNSSSNKNNNNNNNNLFDYF
FSNGYGISKYTTNPISQILNYSNPLNAKYKNEPNEHSFHEDAIRNIENFEEYTK
MYDINKSICAEIKSAELDVLNSGELRRISMGKYENEKYEYEKTHKSGVVTKMYYDPKYGT
IDHNQICSVCFERHENCTGHIGHIEFVLPLFNPLFYKELQELLNLICYHCYNFCCSEDVI
FLLKHIFQLKSLNQIESTNKIKYKKNCDYEYIIDQVEKLYKKICKDSNISLDDIVEAIYD
DYENVHEDKDGNFDESVDLLDSLEKIKDEPDEKNKNNNNKNNNNNNNNNNNNYNNDVDID
VDNNNNNVDINVDNNNNYFNSDLVDLAPNEEIYEEETDAGRSDDNNKENKPDYNKLKERI
KKYKFDANKLAFQSNYNYEEYLILSKTIKLHMKKSSKCCFCKFQRNISAKVSQRRDTINF
IGVHTNNPFFKKYMPKKKQKKNEKDDQEDVDDLENMNNIDDINYNDDVDNMQHMNDDESQ
LNSIQSRNENNKLMIKRESKKIEYNNNVNDESIKIEEDNNEDDDKQMDRESSYPHNNNNN
NNDNNENYNKLSGGYENSFNEISTDNIRNDKNKNSTFADMVNHYNRTQAPKEKCTIRLFS
FQVIDILKKIFENNNKDIINLLYPFTKRDGYKKFFLYDMGVSGNRFRSQSKGIHVRTKIT
NTLCRFNNFIKLCINAKKKVDFDYLLEHNKKDLKLYKDMFSVFSLKMKYKFNNNIMDDDT
DITKMDFLKYYTLVYNNKSAYINILFSTLQLGVNTFYDSTLTEKVNNKHLKNISIRQILD
KKEGILRKNIMGKRVNNCARTVISPDTFIETNQIGMPIEFAKVLTIDEYITQNNFTYIKK
LIENGPNIYPGALSYRDSNGRVFKLSHKYEDRLKVIEKIEKLNFQTENSYILHRHARDGD
VVIMNRQPTLHKFSIMAHYLKIFEKEKVFRLNYVNCSSYNADFDGDEMNLHLLQTPLARA
EATHLMNCDFLFTSFKDGSPLRGLAQDFILGGLHLTSLETFLNYDEYCNLLQCSLNSLIS
QKNSFFIKKKNNNNNNNKKNTNRTNSIMKNTRNSQYNIIQNDLNNNDSKEDYLKKMSILK
NQQSLDDNAKISHPVSNDEARNNSIYEPTNNLLKPQDIDILKEINHGEQFNGNVLKITNY
NYLDPYAIILNRTSFTIITEEPAILYPKKLWTGKQLITSILKTVIDKVAIETYNKYNDNE
FMNTYKGINYVAKAKTSPDLWSFDPLKENEVIIKNSELLQGVLDKLHFGASSNSLVHLCH
ELFGPKTSAVMLDCFGRLFINFLQLRGTSLSLYDFILNKNAKKEKSLIKKRISFTGFYLQ
NLFAYSIANSVNADITEMNSYTKKKMNTGNQRKKLILNKMYDLYEKQNELINNNFNEKEN
YLNKMEKRNIKKDSHVMKDEHILSISENSYLLALLNKELQNVIYHILNEVQFCDDDASLL
NKEKNEKENEKENKIANTCINYKHNNSHVDDEQNCNSSLYSCVQYVLNKDLFNLYEKYLN
GKNEEANKHILYNNCQIDERNNHFLNSVTNKLYKALKEPTFFNSTSFTIKKITKVIEKVL
TFLKAARCNKRLKIYIIFELFQNKNIMKYFPSLVNYINSFHFDVSNEEIIKNVINNIYFK
EEDESPISSINNNNNNKVEDDCNQDIKIKGDQETNEFIDDEKIKTKRKCSQEKTIQEIKK
YKLKKFLHFYAELHKKCNYEEGRGYDIDEQNDYNIDEKDFMNDYNDNNNNNNDNLFRRSF
VKNEMMSVNHTSDDVYDEKIIRNCLMSSLPSFTLNDEITNLSYNGKYQYYEDYLCSKKKD
EEDLNFKYYNMDDVFYKMEYLIHNYFYLKRSDFDNLIDSLFQPYLCRVSSGTNNLINMNN
LMNKFLNNGFSNMIFTGAKGSKVNYSMICGMLDQQYLEGKRVPRMRSGKTLPSFHRYDYG
ARSCGLITDCFLEGLRPQEYFFHCMSGREGLIDTAVKTAKSGYIQRCLIKCMESVILHYD
GTVRNEDNSIIQFLYGEDGIDPSKTAYLDLSKDLLHNYHLSFSKYLNNNMHSKILNNQEL
FLKHEKDNDTKDNEEPLISKYNPYTYIGSVSDKFNNKLNNTLLWNDLNFPEYENVPMNFD
TLSSSLLKSKYYNSLCNPGESIGILVAQSFGEPATQMTLNTFHLAGTENVTMGIPRLKEI
FLTSKLTSKPMIYVPIKLQVDNLKNDANKMKNYITSIADKILSSYKSIFLTDVIYGIGVD
RKIILKENQNEQKHTINLSDIINMNDEELSGDTQLAKINNVLKNCNINFDMKKEWNYEII
IQFENLYHFCNINKHLTISFILYKVVNALLNSVLNKVHETFVFHNLINMNSLNHEYYDEL
YDFISKKMSEEFNFNMDKYEYKDDEHQINAKLKFMEKENERYDSKRGTNNNISGEYQNAS
HTIASHMEDDSPMKSYNDISNKENMSPYDDGKGKDGDRDQDDMSDIELKDNSEKNSNSDQ
ASKNADSDTDEEEEDDELKSEKEKEEDEKEYDEEGESDTNSKIDSDHKSDSDNKSDSDNK
SDSDHKSDSDHKSDSDHKSDSDHKSDSDNKNDSDNKNDSDIDSDSESEMVSSNKKEIINI
NNKDNYYTNRNSSNESKLSECSNTKGSTVNYFSSETSATHHILVDEEESGIFPNLKNKKL
NNMNDNKNMSSTTVSSSLSSSSLSTPLNKKNIEDDEHINNIHFIEKNKYNEEMDNKEEFI
TKSFTRLSYDYKNNINLISSDDDQENIEENEEGQKMKKSEQRYVKNIIDKIKSSLLCFIK
NIHFSPVTWILKLNIGWDINFFPYPIDFLNHIKSEINKEVLFKVKDLNNPKILKGKDITH
SGAEYELQIEGKNIYKLYNIKDKYIDKTKLYCNDIYAIVKTYGIEAGRLCITKELKKVFD
AYGIQIDFRHLSFISDFMTHTGDLKAFNRHGLGYFRNVFHKMSFECATNFLIQGCIHNSI
DYLSTASSSLFFGKHIKVGTNLADIVTCIDKQNL
MAEEVNRNIKRTSELINNNKVDKSFLKNINLQITDGEIKLHLKIIEALYPNMKLKVDKLI
NGSYNIFTKFLVQSHIDDFNSFINVYIKNIAENIPIMEFSPQQNNYSLLNMNKNNSESVK
FFVSDIQIKNPMIKNDKGEYRADYPYLCKLSARTYEGELLIKINRQYKDEIASTTICAGH
IPIMIMSNLCNLSNLNKKELAQKGEDQSLLGGFFVVSGRLKVIRYVIHPKYNTLLLNADN
KIHINCLLNDNTVVINFLTLTRNNSYVYGFRFQNAVCSLPFHLLLMILSPIKKKSYIFNK
IKLGVENENAIKYIELFINSIFLKDTFNEKELFEKYNLSYLGRIAYLRRGIFKYNLNCYE
KKAKDILKYCILPHIKNNSEKFETMCFMFKKLIYSNFKLITPINKDSLENHAVTTCSNLL
ANLLKDQVMNSLCRLYIRYTRSFFKYFETKYNTFKLSVKQIYLRYKMFVLEEMQEDRLNQ
ISLSKSSEDINDSSYQDNNDYKNESKKKLKSIFINEKEKLFRSVDNYFKELYNDNYMFLE
NCKSFSNTSSAILFFFKTGNISSENLHYQQKSGWVIAADEINNLRLITNFRAIHRGTFFQ
DVKVLTPRKLLGESWGFICPVHTPDGTPCGLLNHLAQYCHIHNLSSNEAHKLNIKLYLKK
IGINVNLDDTSGIHTIYDDENIPIIVDSIPITYIGEKDFNRTVYKLKYAKNNNLFNLKSY
FEINAYLNEPLIMNSIIINTFPGRLIRPLLNLKTKDIEFISPSYQPYISVAINNEDVKKN
NLARKLLKKKEQVVNSMKIDRTPGSIKQKFLYHQNRENLLWKLKKESKDGSYKYEKHKID
RKLLKILDQKKNNDSDTNTDNYVSSSEYDTDSDYDYGYDSNSDGDSKSNSNFDSKSDNIS
GSDNNMSTTTYIDSDENINIDMYEQIPQKFEYMELKETSFLSFLASLTPFSDHNQSPRNI
YQCQMLKQTMGIQSLNNVYTFTNKIYRMITPQFPLVVTRDYEFYGVDNFPSGTNAVVAIL
AYTGYDMEDALIINKASADRGIFRTHIYKTEFIDLQKVGESSNFVFGNNIRYLNNNKNNN
KNLAYENKGKFLNKDGLPCVQQKITEGSPLYSYINKGNELTTYESFRNHGEYFVDFVSIG
KNNSNQVAVVKLRSTRQPQVGDKFASRHGQKGVVSRLFPQEDMPFAESGIVPDIIFNPHG
IPSRMTIGMLIESICGKAASLYGKRIDATPFRKYTQQKSFNNPWIDNCGIKGFLEKNDTI
KSDLDTCQKEKDKNKNINNNNNNKIKENKYNNSNDSNASIDSDDNTNNCNDKRDEEEKKA
NITYDEKIDYFAKLLLNKGYDYYGTELLYSGIYGVPLQAHIFIGVIYYQRLRHMAYDKAQ
VRRTGPVCNLTHQPLKGKRKHGGIRVGEMERDGIISHGCSFVINERFLMSSDGHECFVCP
KCGLILSPIMQFNTTGKIMKGRSIGGKSKMAVCKSCDVSCKIIFIPYVIRYLLNELICLN
VTIRLNMKSVENVFDMK
MAKSHLEIAKQLKHNSIELKEYFEDLYSWQNDIKKKEEKEKEEIKLQKIYNNNNKKNNNN
NNDEGLEKNTGKFYNKNKGFSYLKRDCNSLDTYYKAWDKLNIDDIDRNAEQINKNYEHVN
KNYEHVNTNYEDIHKNYEHVNTNYEDIHKNYEHVNTNYEDIHKNYEHVNTNYEDIHKNYE
HVNTNYEDIHKNYEHVNTNYENIHKNYEHVHNNSHNDIIFCENYKNNIPPENIPNSSQNN
DNKTENERLNHKREQKNHVDEIQRDLYIEKNKSSHDINKLNNKEQIIKHVCKAYDIYLAK
NEEGKLNYQKKNYHRCLENYNDIINYIDYELKCDNIFIEIEKNCNNELHIEVISDNYNFD
KKKEELYIVRTKTLINRSLVYQRLSAHFESIDDCSSVILFYNYFLPNMKDNTTYNIKDLG
TMNIKNIIFKAYYLRGIARYKLRIYKLSLKDFKESKILSNDMNSSSTINIDNTIHVIEEI
IEKSNVKKYIRRRNEYTTTPVNHPRLKPRKLTIEIIPEEYTKGITFLDKLSEKNVHSTKK
EIKIFEDEHKSNLSNDNYEAIEYKKNNISSKKEIKNNEDSDDQNDHDNEILDRGVMQIDK
DTYTNGIDKGGLQEENKKIKDKKKKSIFRNNYKEINNSVKENNFFRSQSIESNNSSITLS
EESLYSNIENGNCPHLTSLLSHEKGLINNNINSNNNCCREQIKNKINFELLWNSNKIRTS
FKNQIDILKTAFLEEGIFNFHLDKDMYVDILDALFKNKFLEIFQNIQDEERIKHILAINN
DNNINNYNKKENNQFINYNDCIILIDILYHLTNFGKDNYIFLFIDKGERTILLNFLTFSI
KNINTFIGAEKCIKENMLLLKSLLEMLI
MELNTYNNINSTVKIFQTTSTSALNHDKQIVEKINMDHVVQLFYILTIIILKYVFKSVNK
DIKKRRRKKKSYKELKYVNTNEVDAIGKKDDNGEYANKHKMLPQKNEHDFKYTRVRILHE
LFKEIEHKCKDPKKDDHIKNKEKEENEKFKLNEEHCAEEKEKNKHKCSHKEKEKDKNKDY
YKDNIKDKDSDKEKDSDKDSDKGKGKGKDSDKGKDKDSDKGIDSDKGKDSDKDKGKDSDK
SKDKDSDKCKDNNKDKDSDKCKDNNKDKDSDKEKDKSKDKDIDKEKKKEKTKEKEIILQE
GTEEKRLIEKGVEKFQSGMKKIKEWMEGIDKPNDDIPNLLVTVNKEIEVPQGKVQEFEEG
IELFEEGVKLLKGNTVLEEDGNEINEIEIVFEKPNITDEEKRKKKKQLVENWISDINKMV
DTEIHKIISEIENDNEDMSHSLEENNEIYEISSQDVKLTKSKADNNMSEVIQINEKTYNQ
DVNVNINENLNNNSNINLFNNLSKNTISQDPLHNHLSENRNSEEDLNKSLSAYANNGKDV
NKMDGHKLNIYERKIKAWN*WKKNTDTEWEQFMLLEKEKKKKFIGKKMKDWEEWFPTIYY
NWLAYVNNLEEDFMHDKWEFWLNWKKEDWEKLIDSEWTKQMEIKFKEFMRTAENSLKQKQ
FKRWSIWKSNKWNGLNGWKKREWNFEGDEMWINQYSAVQNENKLKWQELSIQEEIEWLDW
VKEKESYMTNKQLIEWDTWKEEKRNWFEKYINLIKKDWLDHNPWKNWKVQRIKMFQPHES
EELEELYDIEHNGKLAVLFEY
MLLYLYKIWYLILLWLYTHNQYKCDLRLKPPECDVSIDTSICINNGQKILLPSAKPYGIS
THITFDSLMPVDSTGNRNHAHGKFFASSGFGGIGNSALFRQNYIYIPHSDEYFKSVDFSY
TFFIYLLQDEISRKNNMEEKFCPVIHKGIIKDKIQESSPAILINTKNGRIKIVLSTSSST
NSAGEEFLSNFKLRHHQWYHMTVVRHINHVRLFVDGILDSSFLTEGITKTNDSPIYIGGA
PYSVDSCDFPFLLDELKIYNLSIGTDQIQSEASASLSGIEPSFIYFGCFHCDMNTAILSC
PNNYHLCNKMELYIGVYNVLRKFSLDVNNIILPYSSESNLGIGICCTDI
MKPNDNLENNMNLSIGKIDLSNIYMDILHIHETLVNHIQTIVTQVYSLIEKTLCDHIERN
KLDIYMFEEKYKDNNIIDGDKDKMIIHSLNNLNNNYFGNDIKNKFILEKVNECILDNEND
KKNKIKISSKKKYFNELLNFGNKNKNVQIKTITSSICTYKNGVDDEHENDNDDDDNDCDD
NDCDDNDCDDNDCDDNDCDDNDCDDNDCDDNDCDDNDCDDDNNNDNDDNYECINIDDNNL
INSIKIRNDENNLLFNNRYTRNHHDNNSVNCFMNINKKTKEVYNNECNNNYFREEQKNNL
YDRKKQKYKKKAEDVVHKVMNNKCIQNEIYENKIKLQKHIALLELIKYVILYSNTNIKKE
NTEIIKKREINEINSYQNGNVTNKRYKKGLHKNGIHENDLHENDLHENDLHKNDLHKNDI
HKNDIHKNDIHKNDLRTNDLHKNDIHKNDLRTNDLHKNDLHKNDLRTNDLHKNDLHKNDL
HKNDIHKNDIHTNNTCLNDTHMSINPYDNHYTEKTKTDLNHSEYDKGIKDEHTNSNINLS
NVKLKYINIITYYMDLLSPFNKCYSEKNGTTNEDQKNLKMVCKKLDQIVLNYESIIDQIL
KKGNLNYSDINKLYQAHNHNNMEEYSSSQLNDENQCENKRVQNNMCISIDNKINMKNKSI
PCECTKCLEEKNTNKFMDTANNEKNKNNNINKNNNINKNNDINKNNDINKNNDINKNNDI
NKNNDINKNNDINKNNDINKNNDINKNNDINKNNDINKNNNINKNNNINKNNNINKNNDI
NKNNDINKNNDINKNNNINKNNDINKNNNINKNNDINKNNDINKNNDINKNNDINKNNNI
NKNNNINKNNDINKNNNINKNNNINKNNNINKNNDINKNNDINKNNNINKNNDINKNNNI
NKNNNINKNNNINKNNNINKNNDINKNNNINKNNNINKNNDINKNNNINKNNNINKNNNI
NNVNNNSSNSYKNRRHHNTYIKCCHDSHLYSREINDQGHDKNKCSHNINNSTPESIVQNN
KNISDINLVNNTNISINCNKLLNENCIKSSCDKSNFLNTPNIVVPKYSNIRPITQKDSLS
NDLLRNNNLREKYHPQNDSNYYKEIRNTNCNNDVEKNIKDNILHTKKQSSHLNNVDYDSD
NKLKNDYSEGINNFDQNNNQKNNMIPLFNDDHIVNYRNISSSNHHNINNIPNYFIPLNNN
DEKKKFLDIETYKHKNIKMNNNDKHIYNNMNNNDKDIYNNTNNNDKHIYNNTNNNDKHIY
NNTNNNDKHIYNNTNNNDKHIYNNTNNNDKHIYNNTNNNDKHIYNNTNNNDKHIYNNTNN
NDKHIYNNTNNNDKHIYNNTNNNDKHIYNNTNIREKDNDVIYHEIVTRCCRNNTCTCFIN
NNDSVDVNINLKLKSEDNSLVLSPSSCSNDKSFVNDFNENKDDMSFIYNQINIKNDKQEY
VICEPTKSTQHINEKNVPINTFNNTNCHFVKNRNKEVITTTYNDNINIYDQMKKENMNQF
DDQTVPTSSKIICSDQHHVERINNKSINQNCLNTLTDKNIYYNDTIKKYENRKMTTDNIR
YSNICALNNGQNSCKPNVILNQQIFHKVDEHGNFIYNMRDHENIQDEKLLSDQLHLDSLY
KTSDGRNKERFGTTPLYNHGYNNKFVDNRNNNYSDEESTYVNEIHNYINKDINYNNEKNE
CNHHMVNYNNEKNESNHHMVNYKNDMDNYNHHMVNYNNEKNESNHHVVNYKNDMDNYNHH
MVNYNNEKNESNHHVVNYKNDNKEYNHDMINYNNDMNNYQHDMNNYNNDNNDYNHYMNNY
QHDVNNYQHGVYNYQHDVNNYQHGVYNYQHDVNNYQHDVNNYQQDVNNYQHDVNNYQHDV
NNYNHCVNNYNHCVNNYNHEGSNDSTDNKYNGNNNYNGHNNHHGDSDHNADNNYNDNNYL
NPSGRNNNSSNNDGGNDDESTDDNDENDKEEDEEKDEENEEKDEENEEENDEENDEENYK
KDNEEDYNQHKNCNDQFMKIEGDNIFDNSTSNSLHNICYSYKNRYNDSHAYLMSGENEIM
AHNKIYRPQEKDIPITQDNSFVFQNKNNGNQYDAQMSDFYNFHLNSMNSINDTNSINNMN
DINNMNGINNMNGINNMNNINNLNNINNMNNMNNLNNINNLNNMNSINNIHNMNNMNSIN
YTNNINNTNSVNNMNNINNMNNMVTINNMNSINNMNNIQNVNNLYNFYNENQNNISVPNI
HGEFMSEKTNEEKISTNDLDTYENLNKDMINDLSINMSLNNYNNEMMNNEICSSYFDMCN
NMDESYNIMNNNNSTNSSNNNNNNKKNENENENNENNNNINNNNNDNNNNNNDNNNNNND
NNNNNNDNNNNNNNNNNLFECDKCNVDYDIMNFTNNTYMDIQKILQNDDILKQEFANIEE
CFKIHTSSINYMKVKGKGECCHKNQQIMYEHYDAGKHSNNNFIRNNDDMYKNLSMDEFFL
NPNNIEANIINNDIINENINSDIEKIMDIMTSNNNNEREDNKNHSRQEDDKGRQQTKGKE
KCKEKDKYKDKEFDIYKEINNDKMISEHMGIYGEQINLKKKEFTNFSSSSSFNMSNNNNN
NNNNSNNNNNNNNNNNYNNNNNNNNHTFDISTKNKDKKRKIDSLGNTYEHIISSNESKIE
SINEQSTSRKFHKINEDKRKKYQKLDIRTLNKNVQKNKEICTNCYIHYDNFKSSYILTFI
NRKQKKQRKIFPVEPNEKDEAYIVQIIKYIEKLKEQDKIFGINKNEEKQENKNNCLNEGE
QQQGVLNINTNINNCNDNIMKENNMKDNIMKENIMKGNEVAHHDSMNDHKVINKDESNEN
NMNNNNLNNNDNIFNNDNIFNNDNIFNNDTIYNNNIYNNDTIYNNDNIYNNNIYNNDNIY
NNSNIYNNNNIYNNSNIYNNNNIYNNNDNNNNCSNNNVNMMNQFPYGNNTEYILNNKLTF
NNNDLNQDKIDLINDMSRTNENIKNNNMNNFVQNFNEQFFVQQTNFNYINDNINNISPIN
NMNNINGLKKHMNRTYSRSISMYEDINIPHNVDYINYSIENDNVYDENYNIVLNQCASNN
ANVTMFFESNDNKDNSTKPSGDVYMEDMNMPNNMNNMNSMNSMNSVNSINSINSVNSINN
GNNINNLNIMNNINTLSCNINNNSFANNLYDNNIISHNMKNIMYPYINNNITETTNTFIN
EKNQANRINNIPYTNFHNIQNNNDADTMKNFHNIQNNNDADTMKNFHNTQNNNDADTMKN
FHNIQNNNDGDTMKNFHNIQNNNDVGTMKNFHNIQNNNDGDTMKNFHNIQNNNDGDTMKN
FHNVMNEYNINVNNKTNYEDLESVDKNISRENNM
MVDIDKEPISNENNIKYLKVYSNILFKYTEAQEKKKEYIDVALLGDNIKEEKRFFKLINI
DIILIILWFFVLYSFSYNIVEVRNFQNDLSNNINESTFYSETFYKSLSDNIKKINNDYSY
ESRKKDYTTFKNINNKFELASWIKNEFVKNVSYEKYFNNNIIFGNCWRITMRLYNNNNNN
NNSNDSLIKKIYNKKKLYEIYSDTNFLKEIENKQNISYPYFDKKWNYNFSYEKSYKKIGG
LYQIICENDYNKIQEMLSQNSFYTTSYPYFIPAVILTNYNIATVTLDYLLYNPILNLISY
NALKFSFLPNTKTYKEIVTLSASCNQINLYFVVSFFVFLCIFITYILKDVRTYFLVGFNL
YVKTYSCKFMIIVCVLLNMLSLGIYVLFQYKVPNLNATYENGKYKIDSLYANANSESIVN
MFYDIERVILYIEWTKYIFIFTCFITFIFSYYLIIKNYGLLIKKYNNVEKNIKKDFLYPC
SILLIVVFIYLCIVSMYRYEVFNIFENENCNMLYAYILNICLVFANFQGFNISSIINAEG
NNLPYFYFIPTLFFIFTIIFSFIFFLAIKSYIKRNKKMYKWYMRHFKDNRPLSKDNNTEK
GIKIRAYKKRKSIYNKNNEYNKSERTVETNICNDERSQNEIKKEKTKEKIEKNENEKQGE
TQKENIKDENIKDEYIQDEYIQDEYIQDEYIKDEYIKDEDIQDEDIQDEDIQDQNIHDQN
IHDQNTHNRKGNNKNIYHNKSHHKNIHNNNTVEYNSEEDGNSKSKLSKDLPLSDLKEDTI
KNNNSNTSKNSYDNSEENNIRNVEYMNEDGSECYNFPLNNSSDCEINVDNIDKELNYKDI
IKLGKKSNTNKEVYSSNMMEENEENIFQIEKFINIFFNLRNRFLPFSYNVKKYILKEYNK
KTKNKKSEKLICFFYIFMGLLIFCSLFIINNFKKISETENLLKYQIENVSYLSSDKLFTN
MKFYHENKSLNVSINNEYLNFHKIKNKNDIIEWIKNCFPVYLENGTDLFGNNAIYHNSYK
WIEIYDLLYGKIYIRMTSREEINISDNLNNNNNNNNNNNNIICNNRQDKCYAYIRNEKNI
LKNNLNDILSLIDDSIKELEISFILSDVDDHHNILVKINFHFTSTGYISKYIQFDHLFFN
SFNIYQFIGVVVNFLYLIILLSLLIVIYKYYYTNFFYFYNLCVSSLKGTIHSNNSNMTHI
MNTQMENFMYRNDNNRRNLQNMDNANNFNVVNINNNNNNDNSNSYSYGNNIMFDKYKDNN
MNNEEINYYGPYYNENNFTLNNNYISNMNYHPDNFYSNANINNKTTKYNLSLLLHLKIYL
TYLFECDIIKLFIFILHILIVLFWLALCININRISYYNEILLDSYFDIHINTISFYSIMI
YIFYLFLFLTIMNMFFYLSKYVKNEVIYEALYYNRLQILKSVLLLLFVCFHFIIFHYFFY
YGIDNYQNLTIYEHVIYSFLILIGMVKMEIYLKYSTLYFFVIILPHLIFIRFLFIYTLFA
PILSSYIIIKKNRSKQSNNTDNISSDKVYNIESNYGDSSMYNMENMNTDFMYNIDNNNNN
KKKNSNNNNNDIKNNNKNNNKRNLIYKEQKENDTNNQYDEEDYKAFILTRLSSEQWKGLK
EEIKEFAKMETYNILVYFQKFKNQIDSKKINFMSTILKNEYTYLNEQINNIILDLRKVEL
QWKFQSKLVNSSNAYIDKINNQIDMNEEEIVESKSKLSSLKQYLQKVQMDPTKERDE
MKCIECFENIEDFDGNLSNTSIKEIDNVIVSKKEKSLLLSNKETLFIHNYKEGISNINNE
SYKVLSMDNFVRNKKETIINNIEKVYNRNVVNNIYSSDLLNKHYNKQKKHNLLHIEPSGV
LYKNDEEYFKIALRYDPENNEDNIKDELLKQNENNDNICNVKDDDYFLKYSKFFNSKLRP
KNIDEILKTLEENFLPNDDDNIIFITSGGTKVPLEKVDIRNIDNFSTGRRGALMCEYFLK
KNKKVIFLHRRGSHLPFEYHLKGVANFNNLNLVDNNIITFNLKEDEKLNLINNIKNYQKY
KENLFIVAFDTIFDYGYYLLEIGKLLNDNMKKRYEKYFNLNKDFNYTLVVDVYAKNILED
IVHLFSSNNNVIYGKYNEEGRFYELLQKLILFENLRLEKYNNNNNINNNNNNNNNRCYDL
SNFFKYIFDILYDMIKKGQIRLSDESIKDILVRAKFFINNINGCMKNKSHDYILNDINHL
KYNVNHKNDNKNMYMYEKINNINFCNSVHINGEINENVSNVGDNKSDEFLFPSHLMILCA
AASDFYIPFDDLLDFKIDSNNCPFQIEMYLTPKFYKITYKYFPFLKHCIFKLEDQDNVLI
KKSNERLEHADMLIANILTQRNMFVYIFKKEQEYFKLTKSKGEPIENNICREVCKHFSII
MHKLKLFNHWKKLPMFMKFGGSPNLRMNCRYVSSSEHLNMKKNISVGNKNTEVSNKIKIG
KIAQVIGAVVDVEFEDTPPSILNALEVELDNKKLILEVAQHLGNKVVRTIAMDATDGLVR
GQEVKDSGNPICVPVGKETLGRIMNVIGEPIDECGHINHKKTLPIHRDPPLFTDQSTEPA
LLITGIKVVDLIAPYAKGGKIGLFGGAGVGKTVLIMELINNVAKKHGGYSVFAGVGERTR
EGNDLYHEMITTGVIKKKKIGNNEFDFNGSKAALVYGQMNEPPGARARVALTGLTVAEYF
RDEENQDVLLFIDNIYRFTQAGSEVSALLGRIPSAVGYQPTLATDLGALQERITTTKNGS
ITSVQAVYVPADDLTDPAPATTFSHLDATTVLSRSIAELGIYPAVDPLDSTSRMLTPDIV
GAEQYQVARNVQQILQDYKSLQDIIAILGIDELSEQDKLTVARARKVQRFLSQPFAVAEV
FTGKPGRFVELEDTIIGFSELLKGNCDDLPEMAFYMVGGLEEVKSKALEMAKQVS
MARTKQTARKSTAGKAPRKQLASKAARKSAPISAGIKKPHRYRPGTVALREIRRYQKSTD
LLIRKLPFQRLVREIAQDYKTDLRFQSSAVMALQEAAEAYLVGLFEDTNLCAIHAKRVTI
MPKDIQLARRIRGERS
MNIIFTVCTFFIYLIFVIGYVTQINGRSKCFSEIYEKACNEEESNVYCIKDHKKKSSVYT
FKHILKLLLEKKKSDNDKIGFVENSCGEINNFMTYGTFYEKVCSFSHSLDTYGGKGIEAR
KYDEDKNNGMFKLLGLYGSNSINWLVTDMGCMMSGVTTIVMHSKFSIDLIVDILKRTQLE
WLCIDLDLVEGLLCHIKELPHLKKLIILDTLVKYKKKGINEEESDDEKKYEGLRKDSNNK
KNNKNNKDNKNNKGNKNNKDNEKNHHHHNNNNSINNKKNKTEREGEGGKNALHEFSNLEK
DVSSGSFEYDKEKLEKLNVLKEKAKEFGISIIEFDNMTKGIKKTNMKIQNEDPDFITSIV
YTSGTSGQPKGVMLSNKNFHSTVAPLCDHNVIKNMKPKTHFSYLPVSHVFERVLVYMAVI
LGIKINISSKDISCFSKDLYNSDVEVLAGVPKVFTRIYTNIMTEINNLPVLKKSLVKNIL
SLRKHFNNGSFGKFIEKCTNISSRIKGNVNPKMQMLLNGGGKLSSKIADELCVLLNVDYI
QGYGLTESTGALFVQDGLGCNTENVGGPISSSTRYKLISWEKYKANDLCPKGELFVKSDS
MFSGYFLEREYTKNAFTDDGYFKTGDVFQINEDGSLTFLDRSKGLVKLSQGEYIETDMLN
NLYSVILFVNFCVAYGDDSMDGPLAIISVDKSLLFKCLKEDNMLEGTGVNEKNYSEKLID
EILNQSIYVDYVKGKMMEVYKKTNLNRYNIINDIYLTSKTWDMNNYLTPTLKIRRFNVFK
DFSFYIDQVKKKYEDKLKGSSTDSKSSVKSGGKKEEKENKKNDIGENKVKSEVKNEVKNE
VKSEVKNEVKSEVKNEVKNEVKSEVKSEVKNEVKNEVKSEVKSEVKSEVKSEVKSEVKNE
VKSEVKSEEKNEKKAKERLTKSKISKPEQRNVLKCEQNNAVCNFPTNKKIVKETNLKQLR
VPNVPELQVNA
MNISNSSKNTFISDENNVTYEDDYNETDNNKDEGDDRNTLIHVLHSYEDFQKKNMNYGKV
NPYKKKETQLSKIKKNLVRLLSSNDITIHKFNSEEIKGNKKKKMENIKFLTSRAAMWYQV
EKNDDPDYDLKLESSKKKNFVYITMNYINIFMNDLLNDKRGMTYIATFMIVLSIIITFIS
GFITLYNNNNNNINHYNNHNNHKYHNINSSNNNNNNTINSNAFFSTNEQYLKNLDEKNNW
NLNMSRNNYDDINQYMNYSALQIKRGNDQENYKKYNEEIFEILEQLKKEINENKNIKSSE
KIQNENKKDDKLNIYEIRLNIEKKINELENKIINNNKNSDSFKSNLIKEFENFKNIFHDN
YEKFQTQFKDYTNIVNNIKSVIHNKDTFINNIQKTFTQNQVDIKNNLTSHIENEKKELLQ
KINELQSQVKVMEWNILKQENLYKGMKQNILKILGQNKLNTIDNNNNNNNNNNLYDADND
SSYDDEWFGENKNILMGPPIDMDKKKKKQENENNKNNKNYSNHRFSHNYMPHHISKDIHS
NEIETLYTQNEFKELLNVINDIKEQINMLQEKNINSKNYLDDTFLQMEEKILKNAEYKIK
YYLEIYKKDILNEITESKVIYNEEKFKSLTLKHERLQADLLKNINNQIKIQSKLIKDDIS
KSIHFMMEQKKGKHNYNNINNNNNNNIISSSNGSSNNNKMIYSDHLEIIQKKVDELYNEF
ILDYNEIDWALESLGAKIVYKMTSSPLNRNDFIEKFLNQIASFLPSEEIYGMIKPMGKDP
AIVLKPTNFPGDCFSFKGNHGKITIHLPATIDITSISIQHVHENISNNSNATPKYFSVYG
MVDLNWPEQFEENDINYDDFKNSSLYSCLHSTYGNIIQPNEILQRWLKDNKQPNLIHIGD
FYFDRKKRIATYPTKSCFPMKRIIFEFTENYGASYTCVYRLKVHGKRCIRKFK
MLLYKFYFLYFLLVHLSLCIRYRNQNKTDSYLKTNYKLLKKRKKYENRRYKFPKNRKGNN
NNIYDAINNNNTNNIYNNDTYKNRIFFRNEKNDENFIKTNKYSYYEKRNKIKLNSATSTF
VSKYYKININDVYNYLHRKKYEFIETDIKITLKYCPFCPPHKYKYDNMYKHEIFKNTGNS
YCHRCGYKGSFYDFKLKMGDLITSNFESTVVHNNNFYEEEEEKITLNDVKVYNMNLLYSK
EAENARNYLMNVRKLSIDTLKKFLIGFSVMEFQSFESSGKFEKHECIIFPFIKKVDEINM
IETNGINSNMNKMNNNNNNNNNNNNNNNNNNNNINDNYEVVRIKIRSLKDKGYMRLYPKN
VRNEMKLFFFGDHLIKNSEEIVLTEGEIDAMTISQETKYPAISLPNGSKSLPIYLLPYLE
RFKKIHLWLDFDKAGKSSVFNFVNKIGLGRTNVITDANVHYLNPDVFKRRQKSRLTKKSL
LLTSMASNAMEILQKDKEENMHNIYDTTNNDYMDNKILSNNLKSISSDKIKKKEEIDLFN
GQKISSNNINVNILKNKKNETDNITNKENKSDNNLKEGMEKKEIQNEISVIEDNNNNKNN
IIENNNDDMSEKIKVEKSIEDNISYFVDNNIMYIPNNIIIKDANDCLKHNIDIRFFIETS
EKVKHSQILNFNDLRQRILEELKYPDRINGVKSKTIPSLNKYLYGLRMGELSIWTGSTGV
GKTTLLSQLSLDYCIQGVSTLWGSFEINNVKLGKVMLNQFCGKNLEKNIELFDIYADKFE
LLPLKFLKFHGSTNIDQVIDAMDYAVYAYDVKHIIIDNLQFMLNINKFSDIYELQNIAID
KFRSFSTNKNVHITLVVHPRKEDNNLLSISSVFGSVKSTQEADNVFIIQRHVSKTNETVF
FIDIKKNRFKGSLGKIPYLYNKENMTIKEISINNFNEHVVSNTYLPSNKFSSSSLQNNTT
NNNFIQNDNLNFTLCDEYDYMKQLADEYESKHAFKKGYRSKLDPNLRVNNIDMIKTEIID
NSDMNNNKNVTLYVDSLENIKTISTDDKTNDDKRDVNEIKSIKNNERKNTLKIDGNKSLG
STQNLNYENENKNNNNNNNNNKSNQEMEKNNIDDKSSTGNNKNINGNSKGNNNINNNNKN
KNSSSSSSSSSNYNNNEGIKNILNTSAQNNIPFKDTIWSYTLTNEGLIKLCEELKDEEAE
KLKNRVVVLSMRNCIIDNNSSIKDIRTFIKTNKLNIKTAGKNLKKMDIFISILQNIPKEY
ITIKSGQKYGPNKGLPNDKSKNKIKEPHNNNMLEYNKVGSNIGDGQNTSSSCMNINKIYS
EEENNIYINNNNNNMNKEPQTLLPNDRNDSNSHSYNNINYTMVKNGNEGNINDYLNRNYE
NNVDNHHNDEITKKYIKDNIINVDDNIIKKKDIFKLKNENNEITECAFEYFESKKKFDDD
IESRFFIINDNNYNENINLIYKDIKYCGLDIETTGLEVFDENIRLIQIAVENYPVIIYDM
FNINKKDILDGLRKVLENKNIIKIIQNGKFDAKFLLHNNFKIENIFDTYIASKLLDKNKN
MYGFKLNNIVEKYLNVILDKQQQNSVWNNSLLNNNQLFYAARDSSCLLKLYKKLKEEIKK
ENLHIVNDIENKCILPICDMELNGIKVDLENLQKSTNEILNELNIEKDNLKKKLKDENIN
VNSQQQVLKALQKNNVRDISNKLIENTSDSNLKNFLNHEEIISLRNYRRLYKLYSAFYLK
LPLHINTKTNKIHTTFNQLKTFSGRFSSEKPNLQQIPRQKNIREIFIPNDNNIFIIADFK
QIELKIAAEITNDEIMLKAYNNNIDLHTLTASIITKKNIPDINKEDRHIAKAINFGLIYG
MNYVNLKNYANTYYGLNMSLDQCLYFYNSFFEHYKGIYKWHNQVKQKRALQYSTLSNRKV
IFPYFSFTKALNYPVQGTCADILKLALVDLYDNLKDINGKIILCVHDEIIIEVNKKFQEE
ALKILVQSMENSASYFLKKVKCEVSVKIAENWGSKD
MGNKISTEDHIFRLKLKTKELEKLSQRSELEEKKLIGDVKKAIQAGKIELARLYAEKCIR
KKNEKVNYLNLSNKLDVLVSRLEGAHRCASLVKDVGVMIPLIQKINAETNAIKIGNDVTK
LENIFDEISISSELINDTVQTSSAISAPTEEVDELISKIADEHALKLDGQIGSVHPINKH
LEEISNMSERIKNLK</textarea></td>
                </tr>
           
                <tr>
                  <td><label for="searchtype">Pick a search type</label></td>
                  <td><select id="searchtype">
                    <option value="protein">Protein Sequence</option>
                    <option value="DNA">DNA Squence</option>
                    <option value="RNA">RNA Squence</option></select></td>
                </tr>

                <tr>
                    <td><label for="datasample">Data Sample</label></td>
                     <td><select id="datasample">
                            <option value="denmark">Denmark (1100 - 1450AD)</option>
                            <option value="UK">UK (1770 - 1855AD)</option>
                            <option value="all">All</option></select></td>
                </tr>
            </table>

            <p align="center"><button class="button">Search</button></p>
        </div>
    </form>


    <!-- <div align="left"> -->
        <!-- <div>
              <img src="bio1.png">
        </div>
        <div>
              <img src="bio2.jpg">
        </div>
        <div>
                <img src="bio3.jpg">
        </div>
        <div>
            <img src="bio4.jpg">
        </div>
        <div>
            <img src="bio5.jpg">
        </div>
        <div>
            <img src="bio6.jpg">
        </div>
        <div>
            <img src="bio7.jpg">
        </div>
        <div>
            <img src="bio8.jpg">
        </div>
        <div>
            <img src="bio9.jpg">
        </div>
    </div> -->

</body>
</html>